html {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #EBCB76;
    }

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    color: crimson;
    font-size: 1.4em;
    animation: movedown 1s linear 1s;
}

@keyframes movedown {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
    
}
.logo i {
    font-size: 1.4em;
}
nav 
ul li {
    display: inline-block;
    margin-right: 1.3rem;
    margin-top: .2rem;
    text-decoration: none;
    font-size: larger;
    
}

.shopping {
    font-size: 2em;
    animation: moveleft 1s linear 1s;
}
@keyframes moveleft {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
    
}
.circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        z-index: -1;
        background-color: #EBCB76;
        clip-path: circle(70% at right -10%);
}

.circle2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #C5A448;
    clip-path: circle(80% at right 10%);
}
.presentation {
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.head img{
    margin-left: 22%;
    overflow: hidden;
    animation: 3s headmove 1s;
        visibility: hidden;
        animation-fill-mode: forwards;
}

@keyframes headmove {
    0% {
        transform: translateY(900px);
    visibility: visible;
    }
    100% {
        transform: translateY(0);
    visibility: visible;
    }
    
}

.text {
    font-size: 1.3em;
    text-transform: uppercase;
    color: gray;
    display: flex;
    text-decoration: underline;
    text-align: end;
    margin-right: 2vw;
    justify-content: center;
    align-items: center;
    animation: moveright 2s linear 1s;
    visibility: hidden;
        animation-fill-mode: forwards;
}

@keyframes moveright {
    0% {
        transform: translateX(-700px);
    visibility: visible;

    }
    100% {
        transform: translateX(0);
    visibility: visible;
    }
    
}