@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

:root {
    --color-light: #f3eed9;
    --color-brown: #824936;
    --color-neutral:#222c1a;
    --color-text-light: #fff;

    --font-primary: 'Playfair Display SC',
    serif;
    --font-secondary: 'Roboto Flex',
    sans-serif;
}

h1,h2,body,p {


        margin:0;
    }

    header {
        color: black !important;
       background-position: auto ;
    }
    header h1, h2{
        margin: .7em 0;
    }

    body {
        font-family: var(--font-secondary);
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 1.6;
        
    }
    .split {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
    }

    @media (min-width:40em) {
        .split {
            flex-direction: row;
        }


    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 1.8em;
    }
    }

    h1,h2 {
        font-family: var(--font-primary);
        line-height: 1;
    }
    .text-center {text-align: center;}

    .bg-light {
        background-color: var(--color-light);
        color: var(--color-text-light);
    }
img {max-width: 100%;
    display: block;
    
}
    .bg-dark {
        background-color: var(--color-neutral);
        color: var(--color-text-light);
    }

    .bg-accent {
        background-color: var(--color-brown);
    }

    section {
        padding: 3rem 1rem;
        display: flex;
        margin-inline: auto;
        width: min(90%, 70.5rem);
    }